.chat_wrapper {
  padding: 10.5rem 0.813rem 5.5rem 0.813rem;
  background-color: rgba(225, 236, 239, 1);
  overflow-y: auto;
  height: calc(100vh - 43px);
}

/* Scrollbar CSS Start */
.chat_wrapper::-webkit-scrollbar {
  width: 8px;
}

.chat_wrapper::-moz-scrollbar {
  width: 8px;
}

/* Track */
.chat_wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cfcfcf;
  border-radius: 10px;
}

.chat_wrapper::-moz-scrollbar-track {
  box-shadow: inset 0 0 5px #cfcfcf;
  border-radius: 10px;
}

/* Handle */

.chat_wrapper::-moz-scrollbar-thumb {
  background: #b2e1fa;
  border-radius: 10px;
}
.chat_wrapper::-webkit-scrollbar-thumb {
  background: #b2e1fa;
  border-radius: 10px;
}

/* Handle on hover */

.chat_wrapper::-moz-scrollbar-thumb:hover {
  background: #b2e1fa;
}
.chat_wrapper::-webkit-scrollbar-thumb:hover {
  background: #b2e1fa;
}

/* Scrollbar CSS End */

.chat_wrapper .random-stranger-div {
  width: 100%;
  height: 1px;
  background: #00000052;
}
.chat_wrapper .random-stranger-div p {
  position: absolute;
  left: 43%;
  text-align: center;
  background: rgba(225, 236, 239, 1);
  width: 100%;
  max-width: 15%;
  margin: auto;
  top: -0.538rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}
.chat-room {
  /* height: calc(100vh - 375px); */
  padding-top: 2.313rem;
}
/* .chat-room ul li:last-child {
  margin-bottom: 2.5rem !important;
} */

.chat-room .message-detail {
  margin-top: -1rem;
  position: relative;
}
.chat-room .message-detail .message-para {
  background: #fff;
  padding: 0.625rem 1rem;
  border-radius: 25px 25px 25px 0px;
  max-width: 500px;
}
.chat-room ul li {
  position: relative;
}
.chat-room ul li .user-rating {
  background: #fff;
  padding: 0.3rem;
  border-radius: 7px 7px 7px 0px;
  left: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: 3.4rem;
  position: absolute;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s linear;
}
.chat-room ul li .user-rating span {
  font-size: 0.75rem;
}
.chat-room ul li .user-rating span.rating-rate {
  letter-spacing: 0.01em;
  color: #18213f;
  opacity: 0.5;
  font-family: Gilroy-Medium;
  font-size: 0.6rem;
  margin-top: 0.25rem;
  display: block;
  width: 35px;
}
.chat-room ul li .user-detail {
  min-width: 50px;
  text-align: center;
}
.chat-room ul li .user-detail:hover .user-rating {
  opacity: 1;
}
.chat-room ul li .indentifier {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
}
.chat-room ul li .message-time {
  letter-spacing: 0.01em;
  color: #18213f;
  opacity: 0.5;
  font-size: 0.625rem;
  font-family: "Inter", sans-serif;
}
.chat-room ul li .stranger-indentifier {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  color: rgba(17, 105, 208, 1);
}
.chat-room-footer {
  background: #e1ecef;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
}
.chat-room-footer .end-chat {
  width: 7%;
}
.chat-room-footer .end-chat button {
  padding: 1rem 0rem;
  background-color: rgba(192, 46, 46, 1);
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  width: 100%;
}
.type-message-div {
  background: #ffffff;
  box-shadow: 0px 2.93298px 2.93298px rgba(0, 0, 0, 0.06);
  padding: 1rem 1.4rem;
  width: 82%;
}
.type-message-div .emoji-div,
.type-message-div .img-div,
.type-message-div .voice-msg-div {
  width: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.type-message-div .emoji-div img,
.type-message-div .img-div img,
.type-message-div .voice-msg-div .img {
  width: 20px;
}
.type-message-div .voice-msg-div .img {
  margin-left: 4rem !important;
  font-size: 1.5rem;
  color: #0d0d0d;
}

@media only screen and (max-width: 996px) {
  .type-message-div .voice-msg-div img {
    margin-left: 2rem !important;
  }
  .chat-room-footer .end-chat button {
    padding: 1rem 0rem;
    width: 100%;
  }
  .type-message-div .emoji-div,
  .type-message-div .img-div,
  .type-message-div .voice-msg-div {
    width: 2%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }
  .type-message-div input {
    width: 70%;
    margin-left: 1rem;
    margin-right: 1rem;
    border: none;
  }
}

@media only screen and (max-width: 768px) {
  .type-message-div .voice-msg-div {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 1.2rem;
  }
}

@media only screen and (max-width: 560px) {
  .type-message-div .voice-msg-div {
    /* width: 3%; */
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 1.2rem;
  }
}
.type-message-div input {
  width: 91%;
  border: none;
}
.send-message {
  width: 8%;
}
.send-message button {
  padding: 1rem 0rem;
  background-color: rgba(52, 201, 255, 1);
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  width: 100%;
  position: relative;
}
.send-message button span {
  position: absolute;
  right: 25px;
  top: 15px;
}
.rating-div span {
  color: rgba(55, 193, 240, 1);
}
.rating-div span.with-out-rating {
  color: rgba(75, 127, 141, 1);
}
.rating-div .connected-user-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgba(0, 133, 255, 1);
}
.disconnected-stranger {
  text-align: center;
}
.disconnected-stranger p {
  color: rgba(192, 46, 46, 1);
  margin-bottom: 13px;
}
.disconnected-stranger button {
  background-color: rgba(52, 201, 255, 1);
  border: none;
  color: #fff;
  padding: 9px 20px;
}

.user-avatar {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.user-avatar img {
  width: 2rem;
}

.typing-prompt {
  position: fixed;
  bottom: 14%;
  width: auto;
  padding: 1rem;
  /* background: #efefef; */
  margin-left: 4rem;
}

.typing-prompt p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #0d0d0d;
}

/*Typing animation*/
.typing-bubble {
  background: #fff;
  /* padding: 0.625rem 1rem; */
  border-radius: 25px 25px 25px 0px;
  min-width: 100px;
  min-height: 45px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.typing-bubble .typing {
  position: relative;
  margin-left: -50px;
  margin-top: 0.8rem;
}
.typing-bubble .typing span {
  content: "";
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
  height: 10px;
  width: 10px;
  background: #3b5998;
  position: absolute;
  left: 0;
  bottom: 50%;
  border-radius: 50%;
}
.typing-bubble .typing span:nth-child(2) {
  animation-delay: 0.2s;
  margin-left: 15px;
}
.typing-bubble .typing span:nth-child(3) {
  animation-delay: 0.4s;
  margin-left: 30px;
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* Bootstrap Message Bar */
.message-bar {
  background: #e1ecef !important;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn-end {
  padding: 0.7rem;
}

.btn-send {
  padding: 0.8rem;
}

.chat-room .messages-list li:last-child {
  margin-bottom: 2rem !important;
}

@media screen and (max-width: 540px) {
  .chat-room .messages-list > li:last-child {
    padding-bottom: 5rem !important;
  }
}

.chat-room .messages-list .scroll-up {
  margin-bottom: 2rem !important;
}

@media screen and (max-width: 540px) {
  .chat-room .messages-list .scroll-up {
    padding-bottom: 5rem !important;
  }
}

#audio-switch-action {
  background-color: #adb5bd;
  margin-left: 0.5rem;
}
#audio-switch-action:hover {
  cursor: help;
}

.connecting-logo-div .like-text {
  margin-top: 10rem;
}

.connecting-logo-div .buy-me-coffee {
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1680px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .chat_wrapper {
    height: 100vh;
    padding-top: 3rem !important;
  }
  .random-stranger-div {
    margin-top: 15rem;
  }

  .connecting-logo-div .like-text {
    margin-top: 5rem;
  }

  .connecting-logo-div .buy-me-coffee {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 580px) {
  .random-stranger-div {
    margin-top: 15rem;
  }
}

@media only screen and (max-width: 480px) {
  .chat_wrapper {
    height: 100vh !important;
  }
  .connection-login-message {
    margin-top: 4.5rem;
  }
  .connecting-logo-div .like-text {
    margin-top: 0rem;
  }
  .connecting-logo-div .buy-me-coffee {
    margin-top: 0.3rem;
  }
  .random-stranger-div {
    margin-top: 5rem;
  }
}
