.chat_wrapper {
  padding: 5.5rem 0.813rem;
  background-color: rgba(225, 236, 239, 1);
  /* height: calc(100vh - 43px); */
}
.chat_wrapper .random-stranger-div {
  width: 100%;
  height: 1px;
  background: #00000052;
}
.chat_wrapper .random-stranger-div p {
  position: absolute;
  left: 43%;
  text-align: center;
  background: rgba(225, 236, 239, 1);
  width: 100%;
  max-width: 15%;
  margin: auto;
  top: -0.538rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}
.chat-room {
  /* height: calc(100vh - 375px); */
  padding-top: 2.313rem;
}
.chat-room ul li:last-child {
  margin-bottom: 5rem !important;
}
.chat-room.regular-chat {
  /* height: calc(100vh - 276px); */
}
.chat-room .message-detail {
  margin-top: -1rem;
  position: relative;
}
.chat-room .message-detail .message-para {
  background: #fff;
  padding: 0.625rem 1rem;
  border-radius: 25px 25px 25px 0px;
  max-width: 500px;
}
.chat-room ul li {
  position: relative;
}
.chat-room ul li .user-rating {
  background: #fff;
  padding: 0.3rem;
  border-radius: 7px 7px 7px 0px;
  left: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: 3.4rem;
  position: absolute;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s linear;
}
.chat-room ul li .user-rating span {
  font-size: 0.75rem;
}
.chat-room ul li .user-rating span.rating-rate {
  letter-spacing: 0.01em;
  color: #18213f;
  opacity: 0.5;
  font-family: Gilroy-Medium;
  font-size: 0.6rem;
  margin-top: 0.25rem;
  display: block;
  width: 35px;
}
.chat-room ul li .user-detail {
  min-width: 50px;
  text-align: center;
}
.chat-room ul li .user-detail:hover .user-rating {
  opacity: 1;
}
.chat-room ul li .indentifier {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
}
.chat-room ul li .message-time {
  letter-spacing: 0.01em;
  color: #18213f;
  opacity: 0.5;
  font-size: 0.625rem;
  font-family: "Inter", sans-serif;
}
.chat-room ul li .stranger-indentifier {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  color: rgba(17, 105, 208, 1);
}
.chat-room-footer {
  background: #e1ecef;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
}
.chat-room-footer .end-chat {
  width: 7%;
}
.chat-room-footer .end-chat button {
  padding: 1rem 0rem;
  background-color: rgba(192, 46, 46, 1);
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  width: 100%;
}
.type-message-div {
  background: #ffffff;
  box-shadow: 0px 2.93298px 2.93298px rgba(0, 0, 0, 0.06);
  padding: 1rem 1.4rem;
  width: 82%;
}
.type-message-div .emoji-div,
.type-message-div .img-div,
.type-message-div .voice-msg-div {
  width: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.type-message-div .emoji-div img,
.type-message-div .img-div img,
.type-message-div .voice-msg-div img {
  width: 20px;
}
.type-message-div .voice-msg-div img {
  margin-left: 4rem !important;
}
@media only screen and (max-width: 992px) {
  .type-message-div .voice-msg-div img {
    margin-left: 2rem !important;
  }
  .type-message-div .emoji-div,
  .type-message-div .img-div,
  .type-message-div .voice-msg-div {
    width: 2%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }
  .type-message-div input {
    width: 80%;
    margin-left: 1rem;
    border: none;
  }
}

@media only screen and (max-width: 560px) {
  .type-message-div .voice-msg-div {
    /* width: 3%; */
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-right: 1.2rem;
  }
  /* .type-message-div input {
    width: 100%;
    margin-left: 1rem;
    border: none;
  } */
}
.type-message-div input {
  width: 91%;
  border: none;
}
.send-message {
  width: 8%;
}
.send-message button {
  padding: 1rem 0rem;
  background-color: rgba(52, 201, 255, 1);
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  width: 100%;
  position: relative;
}
.send-message button span {
  position: absolute;
  right: 25px;
  top: 15px;
}
.rating-div span {
  color: rgba(55, 193, 240, 1);
}
.rating-div span.with-out-rating {
  color: rgba(75, 127, 141, 1);
}
.rating-div .connected-user-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: rgba(0, 133, 255, 1);
}
.disconnected-stranger {
  text-align: center;
}
.disconnected-stranger p {
  color: rgba(192, 46, 46, 1);
  margin-bottom: 13px;
}
.disconnected-stranger button {
  background-color: rgba(52, 201, 255, 1);
  border: none;
  color: #fff;
  padding: 9px 20px;
}
