.search-user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(225, 236, 239, 1);
  height: 90dvh;
  padding-top: 5rem;
}
.search-user-wrapper .connection-login-message {
  /* margin-bottom: 1rem; */
  font-size: 1.2rem;
  font-weight: 600;
  color: #bf0603;
}

.search-user-wrapper .connection-login-message button {
  outline: 0;
  border: none;
  font-weight: 700;
  background-color: transparent;
  text-decoration: underline;
  color: rgba(33, 68, 143, 1);
}

.search-user-wrapper .connecting-logo-div p {
  color: rgba(33, 68, 143, 1);
  font-family: "Inter", sans-serif;
}
.search-user-wrapper .connecting-logo-div button {
  padding: 0.813rem 1.25rem;
  font-family: "Inter", sans-serif;
  color: #fff;
  border: none;
  letter-spacing: 0.01em;
  font-weight: 600;
  background-color: rgba(52, 201, 255, 1);
}

@media only screen and (max-width: 1680px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 580px) {
}

@media only screen and (max-width: 480px) {
}
